root{
  --gRed: #92140C;
  --vBlack: #353238;
  --sGreen: #3BB273;
  --rBlue: #247BA0;
  --hYellow: #FFC43D;
}
*{
  font-family: 'EB Garamond', serif;
}
body{
  display: flex;
  flex-flow: column nowrap;
}
.welcome{
  padding: 1em;
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
}
.welcome h3{
  font-weight: 400;
  font-size: 64px;
}
.welcome h4{
  font-weight: 400;
  font-size: 40px;
  
}
.welcome h1{
  font-weight: 800;
  font-size: 80px;
}
.filter{
  display: flex;
  width: 100%;
}
.buttons{
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  padding: .5rem;
}
.houseCategory{
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: space-evenly;
  padding: .5rem;
}
.house{
 width: 100%;
 height: 100%;
 margin: 0 .5rem;
 padding: .5rem;
 display: flex;
 flex-flow: column nowrap;
 text-align: center;
 border: 5px double black;
}
.gHouse{
  background: #FCDCD9;
  color: #92140C;
  border-color: #92140C;
}
.sHouse{
  background: #E0F5EA;
  color: #3BB273;
  border-color: #3BB273;
}
.rHouse{
  background: #DEF0F7;
  color: #247BA0;
  border-color: #247BA0;
}
.hHouse{
  background: #FFF3D6;
  color: #FFC43D;
  border-color: #FFC43D;
}
.dHouse{
  background: #EBE9EC;
  color: #353238;
  border-color: #353238;
}
.bannerHead{
  height: 30%;
  width: 100%;
  display: flex;
  flex-flow: nowrap;
  justify-content: center;
}
.title{
  font-size: 90%;
}
.bannerBody{
  height: 100%;
  width: 100%;
  padding-top: .5rem;
}
